.corner-link {
  position: absolute;
  top: 20px;
  right: 20px;

  color: rgb(0, 0, 0);
  font-size: 18px;
  text-decoration: none;

  padding: 8px 12px;

  z-index: 10; /* 👈 THIS is the fix */

  transition: 0.3s;
}

.corner-link:hover {
  background: white;
  color: black;
}

p {
  font-size: 24px;
}